@charset 'utf-8'$color-red = #dddddd;

h1 {
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.h {
  color: ccc;

  &-o {
    color: bbb;

    &-g {
      color: aaa;

      &-e {
        color: 999;
      }
    }
  }
}